.Paragraphs-root 
    overflow-y auto
    flex 1.8
    height 95%
    padding 10px
    margin 50px

.new-green
    border-right 8px #bbb solid
    margin-right -10px
    padding-right 10px
    border-radius 5px
    cursor pointer
    
.active-fragment
    border-color #0E9BDC
    
.Mainpage-paragraphs
    box-shadow 0px 0px 5px 1px lightgrey
    margin-right 20px
    overflow-y auto
    width 66%

.Mainpage-source
    height 100%
    width 34%
    overflow-y auto

::-webkit-scrollbar  
    width 11px 

::-webkit-scrollbar-track  
    background white

::-webkit-scrollbar-thumb 
    background #dedede
    border-radius 8px
    border 2px solid white
