.Paragraphs-root 
    overflow-y auto
    flex 1.8
    height 100%
    padding 30px
    margin 20px

.new-green
    border-right 8px #bbb solid
    margin-right -20px
    padding-right 14px
    border-radius 5px
    cursor pointer
    margin-bottom: 4px !important
    position: relative
    
.active-fragment
    border-color #bbb !important
    
.Mainpage-paragraphs
    box-shadow 0px 0px 5px 1px lightgrey
    margin-right 20px
    overflow-y auto
    height 100%
    width 66%

.Mainpage-source
    height 100%
    width 34%
    overflow-y auto

.seperator
    display block
    width 100%
    &.redBorder 
        background red
    &.yellowBorder
        background #ffa500
    &.greenBorder
        background #54B24E
    &.blueBorder 
        background #1446a3
    &.greyColor
        background #e8e6e6


.redBorder 
    border-color red

.yellowBorder
    border-color #ffa500

.greenBorder
    border-color #54B24E

.blueBorder 
    border-color #1446a3
