.Paragraphs-root 
    overflow-y auto
    flex 1.8
    height 95%
    padding 10px

.new-green
    border-bottom 1px solid lavender !important
    background beige !important
    cursor pointer
    
.active-fragment
    background greenyellow !important
    
.Mainpage-paragraphs
    overflow-y auto
    width 66%

.Mainpage-source
    height 100%
    width 33%
    overflow-y auto
