.FolderSelection-documentList
    padding-left 50px
    padding-top 50px
    display flex

    .folder
        margin-right 50px
        cursor pointer
        width 40%

        img
            height 300px
