.FolderSelection-documentList
    padding 40px
    display flex
    flex-wrap wrap

    .folder
        margin 20px
        cursor pointer
        width 22.5%
        padding 20px

        img
            height 150px
