.Source-root
    display flex
    flex 1
    flex-direction column
    height 95%
    overflow-y auto

.sourse-all-text
    flex 1
    display flex
    flex-direction column
    overflow visible

[class~='antd-my-class']
    display flex
    background-color black




