.Source-root
    //border 1px dashed black
    display grid
    grid-template-rows 10fr 1.2fr
    height 84vh

.sourse-single-text
    //padding 30px 5px 30px 5px
    padding 0 20px 0 20px
    margin-bottom 10px 
    border 1px solid black
    border-radius 10px
    height 130px
    display flex
    align-items center
    font-weight bold

