.MainPage-documentList
    display flex
    flex-direction row
    flex 1
    padding 10px

.list
    flex 1

.documentList-fileName
    cursor pointer
.documentList-fileName.selected
        background: #d1e8df