.HeaderLeft-root
    height 10vh
    display flex
    align-items center
    font-size 25px
    font-weight bold

.HeaderRight-root
    height 10vh
    display flex
    align-items center
    font-size 25px
    font-weight bold
